.hero-block {
  position: relative;
}

.hero-block .field--name-field-first-line.size-h1 {font-size: 2.5rem;}
.hero-block .field--name-field-first-line.size-h2 {font-size: 2rem;}
.hero-block .field--name-field-first-line.size-h3 {font-size: 1.75rem;}
.hero-block .field--name-field-first-line.size-h4 {font-size: 1.5rem;}
.hero-block .field--name-field-first-line.size-h5 {font-size: 1.25rem;}
.hero-block .field--name-field-first-line.size-h6 {font-size: 1rem;}

.hero-block .field--name-field-second-line {margin-bottom: 1.5rem;}

.hero-block .field--name-field-second-line.size-h1 {font-size: 2.5rem;}
.hero-block .field--name-field-second-line.size-h2 {font-size: 2rem;}
.hero-block .field--name-field-second-line.size-h3 {font-size: 1.75rem;}
.hero-block .field--name-field-second-line.size-h4 {font-size: 1.5rem;}
.hero-block .field--name-field-second-line.size-h5 {font-size: 1.25rem;}
.hero-block .field--name-field-second-line.size-h6 {font-size: 1rem;}

.hero-block .field--name-field-hero-link a {
  padding: 0.75rem;
  filter: brightness(100%);
  transition: .2s filter;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
}

.hero-block .field--name-field-hero-link a.hero-link-light-bg:hover {
  filter: brightness(85%);
}

.hero-block .field--name-field-hero-link a.hero-link-dark-bg:hover {
  filter: brightness(115%);
}


.hero-block .field--name-field-hero-background img {
  min-height: 400px;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.hero-block .field--name-field-hero-background:before {
  content: '';
  position: absolute;
  background-image: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
}

.hero-block .field--name-field-hero-background .contextual-region {
  position: static;
}

.hero-block video,
.hero-block iframe {
  min-height: 400px;
  min-width: 100%;
}

.hero-block .fields {
  border-radius: 0.15rem;
  padding: 2rem;
  max-width: 100%;
  flex-basis: 100%;
}

.hero-block .content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 15px;
}

.hero-block .fields-container {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: relative;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.hero-block .fields-container.left {
  justify-content: flex-start;
}

.hero-block .fields-container.right {
  justify-content: flex-end;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-block .fields-container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-block .fields-container {
    max-width: 720px;
  }

 .hero-block .fields.col-03 {
    max-width: 50%;
    flex-basis: 50%;
  }

 .hero-block .fields.col-04 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .hero-block .fields.col-05 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .hero-block .fields.col-06 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .hero-block .fields.col-07 {
    max-width: 83.3333%;
    flex-basis: 83.3333%;
 }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-block .fields-container {
    max-width: 960px;
  }

 .hero-block .fields.col-03 {
    max-width: 25%;
    flex-basis: 25%;
  }

 .hero-block .fields.col-04 {
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }

  .hero-block .fields.col-05 {
    max-width: 41.6667%;
    flex-basis: 41.6667%;
  }

  .hero-block .fields.col-06 {
    max-width: 50%;
    flex-basis: 50%;
  }

 .hero-block .fields.col-07 {
    max-width: 58.3333%;
    flex-basis: 58.3333%;
  }

 .hero-block .fields.col-08 {
    max-width: 66.6667%;
    flex-basis: 66.6667%;
  }

 .hero-block .fields.col-09 {
    max-width: 75%;
    flex-basis: 75%;
  }

 .hero-block .fields.col-10 {
    max-width: 83.3333%;
    flex-basis: 83.3333%;
  }

 .hero-block .fields.col-11 {
    max-width: 91.6667%;
    flex-basis: 91.6667%;
  }

 .hero-block .fields.col-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .hero-block .fields-container {
    max-width: 1140px;
  }
}
