.page {
  background: #ffffff;
  color: #292929;
}

body {
  background-color: #292929;
}

a {
  color: #c31d1f;
}

a:focus,
a:hover {
  color: #c31d1f;
}

.page__navbar .navbar .navbar-brand {
  color: #c31d1f;
}

.page__navbar .navbar .navbar-toggler-icon svg {
  fill: #c31d1f;
}

.page__navbar .navbar {
  background-color: #f7f7f9;
}

.page__navbar .navbar .dropdown-menu {
  background-color: #f7f7f9;
  border: none;
  border-radius: 0;
}

.page__navbar .navbar .dropdown-menu .dropdown-item:focus,
.page__navbar .navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  .page__navbar .navbar {
    background: #f7f7f9 -webkit-gradient(linear, right top, left top, color-stop(50%, #840f11), color-stop(50%, #f7f7f9));
    background: #f7f7f9 linear-gradient(to left, #840f11 50%, #f7f7f9 50%);
  }

  .page__navbar .navbar a {
    color: #292929;
  }

  .page__navbar .navbar .navbar-collapse {
    background-color: #f7f7f9;
  }

  .page__navbar .navbar .navbar-left {
    background-color: #f7f7f9;
  }

  .page__navbar .navbar .navbar-left a {
    color: #292929;
  }

  .page__navbar .navbar .navbar-left a:focus,
  .page__navbar .navbar .navbar-left a:hover {
    color: #c31d1f;
  }

  .page__navbar .navbar .navbar-right {
    background-color: #840f11;
  }

  .page__navbar .navbar .navbar-right a {
    color: #ffffff;
  }

  .page__navbar .navbar .navbar-right a:focus,
  .page__navbar .navbar .navbar-right a:hover {
    color: #d4d4d4;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu {
    background-color: #f7f7f9;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu a {
    color: #292929;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu a:focus,
  .page__navbar .navbar .navbar-right .dropdown-menu a:hover {
    color: #c31d1f;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu label {
    color: #292929;
  }
}

.page__meta_header {
  background-color: #292929;
  color: #ffffff;
}

.page__meta_header a {
  color: #d4d4d4;
}

.page__meta_header a:focus,
.page__meta_header a:hover {
  color: #ffffff;
  text-decoration: none;
}

.page__meta_header .dropdown-menu {
  background-color: #292929;
  border: none;
  border-radius: 0;
}

.page__meta_header .dropdown-menu .dropdown-item:focus,
.page__meta_header .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.page__meta_header .navbar-toggler-icon svg {
  fill: #d4d4d4;
}

.page__footer {
  background-color: #292929;
  color: #ffffff;
}

.page__footer a {
  color: #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.page__footer a:focus,
.page__footer a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
}

