// Page: Navbar
// -----------------------------------------------------------------------------

.navbar .container {
  align-items: stretch;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    max-width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.dropdown-menu.mega-menu {
  width: 100%;
  top: 95%;
  border: 0;
  border-radius: 0;
}

.navbar-left,
.navbar-right {
  padding: $navbar-padding-y $navbar-padding-x;
  height: 100%
}

@include media-breakpoint-up(lg) {
  .navbar {
    padding: 0;
    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
}

.mr-auto {
  height: 100%;
}

.navbar-left {
  .block {
    height: 100%;
  }

  .nav {
    height: 100%;
    align-items: center;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-left .nav {
    align-items: flex-start;
  }
}
