.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container input[type="checkbox"] {
  height: auto;
  margin-right: 5px;
  transform: none;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-link {
  font-weight: normal !important;
  font-size: 14px !important;
  letter-spacing: normal !important;
}

/* Primary Tasks */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.button {
  background-color: #888;
  border-color: #888;
  color: white;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.button:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.button:focus {
  background-color: #7b7b7b;
  border-color: #7b7b7b;
  color: white;
}

/* Edit */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.edit {
  background-color: #277abd;
  border-color: #277abd;
  color: white;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.edit:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks .moderation-sidebar-link.edit:focus {
  background-color: #236aaf;
  border-color: #236aaf;
}

/* Create New Draft */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #create_new_draft {
  background-color: #ef6c00;
  border-color: #ef6c00;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #create_new_draft:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #create_new_draft:focus {
  background-color: #de6400;
  border-color: #de6400;
}

/* Archive */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #archive {
  background-color: #00897b;
  border-color: #00897b;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #archive:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #archive:focus {
  background-color: #00786c;
  border-color: #00786c;
}

/* Send to review */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #review {
  background-color: #ff8f00;
  border-color: #ff8f00;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #review:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #review:focus {
  background-color: #ee8500;
  border-color: #ee8500;
}

/* Publish */
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #publish {
  background-color: #689f38;
  border-color: #689f38;
}

.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #publish:hover,
.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-primary-tasks #publish:focus {
  background-color: #609234;
  border-color: #609234;
}
